# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [43]:
#Passo a passo
#Passo 1: Abrir o navegador
from selenium import webdriver

navegador = webdriver.Chrome(executable_path=r"C:\Users\Vinícius\AppData\Local\Programs\Python\Python310\chromedriver_win32\chromedriver.exe")
navegador.get("https://www.google.com.br/")

C:\Users\Vinícius\AppData\Local\Temp\ipykernel_16216\3698593254.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  navegador = webdriver.Chrome(executable_path=r"C:\Users\Vinícius\AppData\Local\Programs\Python\Python310\chromedriver_win32\chromedriver.exe")

In [44]:
#Passo 2: Importar Base de dados
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [45]:
for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    print(produto)
    produto = produto.replace("ó", "o").replace("ã", "a").replace("ç", "c").replace("ú", "u").replace("é", "e").replace("á", "a")

    link = f"https://www.melhorcambio.com/{produto}-hoje"
    print(link)
    navegador.get(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")

    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)

display(tabela)

#.click() --> clickar
#.send_keys('texto') --> escrever
#.get_attribute() --> pegar um valor

#Passo 3: Percorrer cada produto
#Passo 4: Pesquisar o preço do produto
#Passo 5: Atualizar o preço na base de dados

Milho
https://www.melhorcambio.com/Milho-hoje
85.49
Soja
https://www.melhorcambio.com/Soja-hoje
162.64
Boi
https://www.melhorcambio.com/Boi-hoje
276.05
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
393.26
Algodão
https://www.melhorcambio.com/Algodao-hoje
498.88
Açúcar
https://www.melhorcambio.com/Acucar-hoje
134.64
Café
https://www.melhorcambio.com/Cafe-hoje
1087.87
Ouro
https://www.melhorcambio.com/Ouro-hoje
327.99
Trigo
https://www.melhorcambio.com/Trigo-hoje
1546.08
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.05

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.49      NaN
1      Soja       163.59       162.64      NaN
2       Boi       282.20       276.05      NaN
3  Petróleo       424.37       393.26      NaN
4   Algodão       497.76       498.88      NaN
5    Açúcar       136.23       134.64      NaN
6      Café      1092.87      1087.87      NaN
7      Ouro       321.77       327.99      NaN
8     Trigo      1549.11      1546.08      NaN
9   Tilápia         9.05         9.05      NaN

In [46]:
#Passo 6: Comprar ou não comprar
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.49    False
1      Soja       163.59       162.64     True
2       Boi       282.20       276.05     True
3  Petróleo       424.37       393.26     True
4   Algodão       497.76       498.88    False
5    Açúcar       136.23       134.64     True
6      Café      1092.87      1087.87     True
7      Ouro       321.77       327.99    False
8     Trigo      1549.11      1546.08     True
9   Tilápia         9.05         9.05    False

In [47]:
#exportar base de dados
tabela.to_excel("commodities_atual.xlsx", index=False)

In [48]:
navegador.quit()